<div class="header-container">
  <div class="__logo">
    <h2 class="__eren">Eren</h2>
  </div>
  <div class="navbar-container">
    <nav class="__navbar">
      <span class="__link">Home</span>
      <span class="__link">Services</span>
      <span class="__link">Resume</span>
      <span class="__link">Work</span>
      <span class="__link">Contact</span>
    </nav>
    <button class="__button">Hire Me!</button>
  </div>

  <div class="--burgered">
    <i class="ico-menu" (click)="blnOpen = true"></i>
    <div class="__backdrop" (click)="blnOpen = false" *ngIf="blnOpen"></div>
    <div class="burger-menu" [@openClose]="blnOpen ? 'open' : 'closed'">
      <div class="__icon">
        <i class="ico-xmark" (click)="blnOpen = false"></i>
      </div>
      <div class="__logo">
        <h2 class="__eren">Eren</h2>
      </div>
      <div class="__menu">
        <ul>
          <li class="__link">Home</li>
          <li class="__link">Services</li>
          <li class="__link">Resume</li>
          <li class="__link">Work</li>
          <li class="__link">Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>