<!-- <p>home works!</p> -->
<section class="home-section">
  <div class="intro-container">
    <div class="intro">
      <h4 class="__role">Icebear Developer</h4>
      <div class="__name-container">
        <h1 class="__hello">Hello I'm</h1>
        <h1 class="__name">IceBear</h1>
        <p class="__description">Ice Bear sits at a tidy desk in a minimalist office, typing away on his computer with focused precision. His expression remains stoic as he reviews data and completes tasks quietly. Occasionally sipping tea or adjusting his glasses, he works efficiently, always staying ahead of the game without ever breaking his calm demeanor.</p>
      </div>
      <div class="buttons">
        <button class="__download cv">
          <span>Download Bear CV</span>
          <i class="ico-download"></i>
        </button>
        <div class="__other">
          <button class="__button __icon">
            <div class="circle"></div>
            <i class="ico-github"></i>
          </button>
          <button class="__button __icon">
            <div class="circle"></div>
            <i class="ico-linkedin"></i>
          </button>
          <button class="__button __icon">
            <div class="circle"></div>
            <i class="ico-facebook"></i>
          </button>
          <button class="__button __icon">
            <div class="circle"></div>
            <i class="ico-twitter"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="__image">
      <svg viewBox="0 0 100 100">
        <!-- Circle inside SVG -->
        <circle cx="50" cy="50" r="150" class="circle" id="circle"/>
      </svg>
      <img src="../../assets/images/panda-removebg.png" class="responsive-image" alt="Cart">
    </div>
  </div>
  <div class="commits">
     <label for="experience" class="__label">
      <h2 class="__number">2.3</h2>
      <span class="__phrase">years of experience</span>
     </label>
     <label for="project" class="__label">
      <h2 class="__number">300</h2>
      <span class="__phrase">Project completed</span>
     </label>
     <label for="mastered" class="__label">
      <h2 class="__number">2.3</h2>
      <span class="__phrase">Technology Mastered</span>
     </label>
     <label for="commits" class="__label">
      <h2 class="__number">500</h2>
      <span class="__phrase">Code Commits</span>
     </label>
  </div>
</section>
