<section class="home-section">
  <div class="home-container">
    <div class="__role">Roole</div>
    <h2 class="__introduction __name">Hello I'm</h2>
    <p class="__description"></p>
    <div class="home-section-buttons">
      <button class="__btn-cv">CV</button>
      <button class="__btn-github">Github</button>
      <button class="__btn-linkedin">Linked In</button>
      <button class="__btn-youtube">Youtube</button>
      <button class="__btn-twitter">Twitter</button>
    </div>
  </div>
  <div class="image-container">
    <h2>IMG</h2>
    <!-- <div class="__img">IMG</div> -->
    <!-- <div class="image-border">
      <img src="../../assets/images/ID-removebg.png" class="cart-icon" alt="Cart">
    </div> -->
  </div>
</section>